/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

/* COMPONENT: Quiz styles */
.quiz {
  background-color: rgb(186, 228, 228);
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* last page with your score */

.results {
  background-color: rgb(201, 205, 206);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80%;
  min-height: 80vh;
  margin-top: 3rem;
  border-radius: 10px;
}

.congrats {
  background-color: rgb(0, 77, 128);
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
  border-radius: 10px;
}

.results-info {
  background-color: rgb(160, 209, 205);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0rem 0rem 1rem;
}

.score {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30%;
  margin-top: 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.next-btn {
  background-color: blueviolet;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  margin: 1rem 0rem 0rem 1rem;
  width: 20rem;
}

/* COMPONENT: QuizQuestion styles */

.question {
  background-color: blueviolet;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 3rem 0rem 3rem 0rem;
  width: 80vw;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

/* COMPONENT: QuizAnswer styles */
.answer {
  background-color: rgb(169, 186, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  margin: 0.5rem 0rem 0.5rem 0rem;
  cursor: pointer;
}

.answer-text {
  padding: 1rem;
  width: 60%;
  font-size: 1.5rem;
  font-weight: 700;
}

.answer-letter {
  background-color: blueviolet;
  padding: 1.06rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.correct-answer {
  border: 6px solid #1ea55b;
  border-radius: 10px;
}

.correct-answer .answer-letter {
  background-color: #1ea55b;
}

.wrong-answer {
  border: 6px solid #dc0a0a;
  border-radius: 10px;
}

.wrong-answer .answer-letter {
  background-color: #dc0a0a;
}

.disabled-answer {
  pointer-events: none;
}
